.hero{

    padding-top: 88px;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
.title:hover {
    transform: translateY(-5px) scale(1.01); /* Move container up slightly and scale it up on hover /
}
.title{
    color: rgb(182, 241, 219);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: transform 0.7s ease; / Add transition property for hover effect /
}
.subtitle:hover{
    transform: translateY(-5px) scale(1.01); / Move container up slightly and scale it up on hover /
}
.subtitle{
    color: rgb(182, 241, 219);
    transition: transform 0.7s ease; / Add transition property for hover effect */
}
.herowaitlist{
    color: white;
    margin-right: auto;
    background-color: #8895B3;
    border-radius: 25px;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
}
.waitlistcontact{
    margin-top: 40px;
    margin: 10px;
    margin-bottom: 20px;
}