.banner {
    background: linear-gradient(180deg, #351431 0%, rgba(119, 82, 83, 0.00) 100%);
    color: #fff; 
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    flex-wrap: wrap;
}

.banner h1 {
   color: #b2f1db;
    margin-right: 10px;
}

.createx {
    width: 100px; 
    height: auto; 
    margin: 0 10px; 
}
.gt{
    width: 250px; 
    height: auto; 
    margin: 0 10px; 
}